In [1]:
#Create Heatmaps for Weather Parameters

# Import the dependencies.
import pandas as pd # to read our CSV file and create the locations and measurements from the DataFrame
import gmaps # to create heatmaps and the locations map
import requests # to make a request to the Google Places JSON file

In [2]:
# Import the API key.
from config import g_key # to create heatmaps and the locations map

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-09-16 14:52:24,-54.8000,-68.3000,38.86,48,20,5.75
1,1,Butaritari,KI,2022-09-16 14:54:35,3.0707,172.7902,81.68,69,81,14.94
2,2,Saskylakh,RU,2022-09-16 14:54:35,71.9167,114.0833,29.80,87,100,14.90
3,3,Hithadhoo,MV,2022-09-16 14:54:36,-0.6000,73.0833,82.08,66,0,5.61
4,4,New Norfolk,AU,2022-09-16 14:54:36,-42.7826,147.0587,49.71,89,100,3.00

In [4]:
# Use the dtypes method to get the data types of a DataFrame.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# # instead loop, we can perform a list comprehension within the heatmap_layer() function 
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# temperatures =  an array of length equal to the locations array length
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Adjust Heatmap Zoom, Intensity, and Point Radius

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# temperatures =  an array of length equal to the locations array length
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                    max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Create a Percent Humidity Heatmap
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# Get the humidity.
humidity = city_data_df["Humidity"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 85
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Cururupu,BR,2022-09-16 14:54:37,-1.8283,-44.8683,87.03,56,75,8.77
21,21,Platanos,GR,2022-09-16 14:54:40,37.6667,21.6167,88.57,54,2,7.45
28,28,Brits,ZA,2022-09-16 14:54:42,-25.6347,27.7802,87.53,15,14,8.28
73,73,Mwene-Ditu,CD,2022-09-16 14:55:54,-7.0000,23.4500,87.44,33,72,3.80
110,110,Malanje,AO,2022-09-16 14:57:05,-9.5402,16.3410,89.73,24,83,2.73
143,143,Chiredzi,ZW,2022-09-16 14:58:15,-21.0500,31.6667,87.76,14,0,8.72
153,153,Alta Floresta,BR,2022-09-16 14:58:19,-9.8756,-56.0861,89.42,48,35,6.91
162,162,Victoria,HK,2022-09-16 14:54:06,22.2855,114.1577,88.18,68,35,5.99
199,199,Sehithwa,BW,2022-09-16 14:59:33,-20.4667,22.7167,88.27,11,0,10.16
213,213,Okakarara,NaN,2022-09-16 14:59:38,-20.5833,17.4333,87.10,9,1,10.87

In [20]:
# Determine if there are any null values.
preferred_cities_df.count()
#here are 35 cities and no null values.

City_ID       35
City          35
Country       34
Date          35
Lat           35
Lng           35
Max Temp      35
Humidity      35
Cloudiness    35
Wind Speed    35
dtype: int64

In [21]:
# Map Vacation Criteria
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# hotel_df is a copy of the preferred_cities_df DataFrame
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
9         Cururupu      BR     87.03  -1.8283  -44.8683
21        Platanos      GR     88.57  37.6667   21.6167
28           Brits      ZA     87.53 -25.6347   27.7802
73      Mwene-Ditu      CD     87.44  -7.0000   23.4500
110        Malanje      AO     89.73  -9.5402   16.3410
143       Chiredzi      ZW     87.76 -21.0500   31.6667
153  Alta Floresta      BR     89.42  -9.8756  -56.0861
162       Victoria      HK     88.18  22.2855  114.1577
199       Sehithwa      BW     88.27 -20.4667   22.7167
213      Okakarara     NaN     87.10 -20.5833   17.4333

In [23]:
# Retrieve Hotels from a Nearby Search
# Set the Parameters for a Nearby Search (Google Places Nearby Search request)
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head()

           City Country  Max Temp      Lat      Lng          Hotel Name
9      Cururupu      BR     87.03  -1.8283 -44.8683  POUSADA TRAVÉS'CIA
21     Platanos      GR     88.57  37.6667  21.6167        Hotel Kronio
28        Brits      ZA     87.53 -25.6347  27.7802         By Die Vlei
73   Mwene-Ditu      CD     87.44  -7.0000  23.4500        African'zuri
110     Malanje      AO     89.73  -9.5402  16.3410         Hotel Ginga

In [41]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [55]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [56]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))