## Deliverable 3. Create a Travel Itinerary Map.

In [32]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [33]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,0,Olinda,BR,78.53,broken clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
1,2,Iracoubo,GF,84.29,scattered clouds,5.4802,-53.2011,Le Gîte d’Iracoubo
2,4,Meulaboh,ID,78.44,overcast clouds,4.1363,96.1285,Kost Pria
3,5,Kavieng,PG,82.11,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
4,13,Georgetown,MY,83.89,few clouds,5.4112,100.3354,Cititel Penang

In [34]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather description</dt><dd>{Weather description}</dd>
</dl>
"""

In [35]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [85]:
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Trip into USA.
# Grab the first hotel from the results and store the name.
USA_vacation_df = vacation_df.loc[(vacation_df["Country"] == "US")]
USA_vacation_df.dropna()

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
9,39,Hilo,US,78.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
32,113,Kahului,US,78.84,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
57,198,Iberia,US,77.05,clear sky,29.9502,-91.7507,back to back rv park
91,320,Palm Springs,US,75.04,clear sky,33.8303,-116.5453,The Colony Palms Hotel and Bungalows
99,344,San Patricio,US,84.09,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
107,384,Austin,US,77.86,mist,30.2672,-97.7431,The Driskill
122,441,Seminole,US,77.09,scattered clouds,28.7086,-81.2081,Ono Hot Dog Cart and Catering Lemonade and Sha...
126,447,Makakilo City,US,77.32,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
135,467,Punta Gorda,US,75.97,overcast clouds,26.9298,-82.0454,Four Points by Sheraton Punta Gorda Harborside
158,545,Stephenville,US,75.81,clear sky,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville

In [38]:
USA_vacation_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
9,39,Hilo,US,78.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
32,113,Kahului,US,78.84,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
57,198,Iberia,US,77.05,clear sky,29.9502,-91.7507,back to back rv park
91,320,Palm Springs,US,75.04,clear sky,33.8303,-116.5453,The Colony Palms Hotel and Bungalows
99,344,San Patricio,US,84.09,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
107,384,Austin,US,77.86,mist,30.2672,-97.7431,The Driskill
122,441,Seminole,US,77.09,scattered clouds,28.7086,-81.2081,Ono Hot Dog Cart and Catering Lemonade and Sha...
126,447,Makakilo City,US,77.32,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
135,467,Punta Gorda,US,75.97,overcast clouds,26.9298,-82.0454,Four Points by Sheraton Punta Gorda Harborside
158,545,Stephenville,US,75.81,clear sky,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville

In [70]:
# # From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# # 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# # Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"]=="Seminole"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Seminole"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="San Patricio"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Stephenville"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Austin"]

In [73]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# start = vacation_start[["Lat","Lng"]].to_numpy()
# end = vacation_end[["Lat","Lng"]].to_numpy()
# stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
# stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
# stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
start = vacation_start[["Lat", "Lng"]]
print(start)

         Lat      Lng
122  28.7086 -81.2081

In [74]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

       Lat      Lng
99  28.017 -97.5169

In [75]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

         Lat      Lng
158  32.2207 -98.2023

In [76]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

         Lat      Lng
107  30.2672 -97.7431

In [77]:
end = vacation_end[["Lat", "Lng"]]
print(end)

         Lat      Lng
122  28.7086 -81.2081

In [78]:
# # 7. Create a direction layer map using the start and end latitude-longitude pairs,
# # and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

start = (28.7086, -81.2081)
stop1 = (28.017, -97.5169)
stop2 = (32.2207, -98.2023)
stop3 = (30.2672, -97.7431)
end = ( 28.7086, -81.2081)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
USA_vacation_df = pd.concat([USA_vacation_df],ignore_index=True)
USA_vacation_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,39,Hilo,US,78.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,113,Kahului,US,78.84,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
2,198,Iberia,US,77.05,clear sky,29.9502,-91.7507,back to back rv park
3,320,Palm Springs,US,75.04,clear sky,33.8303,-116.5453,The Colony Palms Hotel and Bungalows
4,344,San Patricio,US,84.09,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
5,384,Austin,US,77.86,mist,30.2672,-97.7431,The Driskill
6,441,Seminole,US,77.09,scattered clouds,28.7086,-81.2081,Ono Hot Dog Cart and Catering Lemonade and Sha...
7,447,Makakilo City,US,77.32,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
8,467,Punta Gorda,US,75.97,overcast clouds,26.9298,-82.0454,Four Points by Sheraton Punta Gorda Harborside
9,545,Stephenville,US,75.81,clear sky,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville

In [83]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Weather description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in USA_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = USA_vacation_df[["Lat", "Lng"]]

In [89]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))